html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

header {
  background-image: url("images/logo");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b5bfbd;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  height: auto; /* Ajuste automatiquement la hauteur */
  padding: 2rem;
}

.image img {
  width: 100%;
  height: 18rem;
  object-fit: fill;
  margin-bottom: 10px;
  border-radius: 50%;
}

#footer-logo {
  height: 5rem;
  width: auto;
}

p {
  margin: 0 0 0 1rem;
}

main {
  margin: 0 0 0 1rem;
}

#ocean-pollution,
#whale-migration {
  display: none;
}
